body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Bottom Navigation Bar */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.nav-item img {
  max-width: 24px; /* Set a maximum width for the icons */
  max-height: 24px; /* Set a maximum height for the icons */
}





.top-nav {
  display: flex;
  width: 100%;
  margin: auto;
  background-color: #aed2ea;
  border-radius: 4px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.top-nav-child {
  flex: 1;
  border: 1px solid green;
}

.top-nav a {
  text-decoration: none;
  color: inherit;
}

/* Panels */

.production {
  border: 1px solid salmon;
}

.energy {
  border: 1px solid red;
}


.sensor-reading {
  background-color: #aed2ea;
}

